body {
    background-image: url("../images/bananas.png")
}
#display, #instructions {
    text-align: center;
    color: purple;
    font-size: 40px;
    font-family: Comic Sans MS, sans-serif;
}
#start {
   padding: 30px;
   font-size: 40px;
   font-family: Comic Sans Ms, sans-serif;
}
.container {
    width: 960px;
    background-color: grey;
    margin: 40px auto;
    padding: 30px 0px;
    text-align: center;
}
.game {
    width: 960px;
    background-color: cyan;
    margin: 40px auto;
    padding: 30px 0px;
    text-align: center;
    display: none;
}
.bubble {
    float: left;
    margin-left: 20px;
}
#q1 {
    /* text-align: center; */
}
.choices {
    display: inline-block;
    text-align: center;
}